<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./course.css">
    <title>Course</title>
</head>

<body>
    <div class="container">
        <div class="course">
            <button class="slick-arrow -slick-prev"></button>
            <div class="course-content">
                <ul class="field-items">
                    <li class="field-item">
                        <div class="images">
                            <img src="" alt="">
                        </div>
                        <div class="slidershow-body">
                            <div class="title">Nguyễn</div>
                            <div class="decreption">Mô tả</div>
                            <div class="readmore">
                                Readmore
                            </div>
                        </div>
                    </li>
                    <li class="field-item">
                        <div class="images">
                            <img src="" alt="">
                        </div>
                        <div class="slidershow-body">
                            <div class="title">Nguyễn</div>
                            <div class="decreption">Mô tả</div>
                            <div class="readmore">
                                Readmore
                            </div>
                        </div>
                    </li>
                    <li class="field-item">
                        <div class="images">
                            <img src="" alt="">
                        </div>
                        <div class="slidershow-body">
                            <div class="title">Nguyễn</div>
                            <div class="decreption">Mô tả</div>
                            <div class="readmore">
                                Readmore
                            </div>
                        </div>
                    </li>
                    <li class="field-item">
                        <div class="images">
                            <img src="" alt="">
                        </div>
                        <div class="slidershow-body">
                            <div class="title">Nguyễn</div>
                            <div class="decreption">Mô tả</div>
                            <div class="readmore">
                                Readmore
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="slickarrow slick-next"></button>
            <ol class="dot">
                <li class="item"></li>
            </ol>
        </div>
    </div>
    <script src="./course.js"></script>
</body>

</html>